@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@theme {
  --color-primary: #4ade80;
  --color-secondary: #22c55e;
  --color-dark: #0f0f16;
}

@layer base {
    html, body {
        @apply bg-dark text-white font-sans;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-mono font-bold text-primary;
    }

    a {
        @apply text-gray-300 font-bold hover:text-primary transition-colors duration-300 cursor-pointer;
    }
}

@layer components {
    .container {
        @apply max-w-7xl mx-auto my-16 px-6 py-4;
    }
    
    .button {
        @apply px-6 py-3 bg-secondary font-bold hover:bg-green-500 text-white rounded-md transition-all duration-300 flex items-center cursor-pointer;
    }

    .button-secondary {
        @apply font-bold px-4 py-2 border border-primary text-primary hover:bg-primary/20 transition-all duration-300 rounded cursor-pointer;
    }
}